.randomSelect {
    border: 3px solid greenyellow;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.cookedToOrder {
    background-image: url("../images/a.jpg");
    background-size: 100% auto;
    height: 250px;
    width: 100%;
    margin: 5px;
}

.dessert {
    background-image: url("../images/bb.jpg");
    background-size: 100% auto;
    height: 250px;
    width: 100%;
    margin: 5px;
}

.noodle {
    background-image: url("../images/c.jpg");
    background-size: 100% auto;
    height: 250px;
    width: 100%;
    margin: 5px;
}

.buffet {
    background-image: url("../images/dd.jpg");
    background-size: 100% auto;
    height: 250px;
    width: 100%;
    margin: 5px;
}

.vegeterian {
    background-image: url("../images/e.jpg");
    background-size: 100% auto;
    height: 250px;
    width: 100%;
    margin: 5px;
}

.clean {
    background-image: url("../images/f.jpg");
    background-size: 100% auto;
    height: 250px;
    width: 100%;
    margin: 5px;
}